In [10]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime
import os

In [11]:
# Define tickers (Yahoo Finance symbols)
tickers = {
    "WTI": "CL=F",
    "Brent": "BZ=F",
    "Nifty50": "^NSEI",
    "Nifty100": "^CNX100",
    "Nifty200": "^CNX200",
    "Nifty500": "^CRSLDX"  # alternative: "^CNX500"
}

# Function to flatten multi-index columns
def flatten_columns(df):
    if isinstance(df.columns, pd.MultiIndex):
        df.columns = ['_'.join([str(c) for c in col if c and c != 'CL=F']).strip('_') for col in df.columns]
    return df

# Function to fetch and clean a ticker's data
def fetch_and_clean(ticker_symbol, name):
    df = yf.download(ticker_symbol, start="2013-01-01", group_by="ticker", auto_adjust=False)
    df = flatten_columns(df)
    df = df.reset_index()  # Make 'Date' a column
    df['Date'] = pd.to_datetime(df['Date'])  # Ensure proper datetime
    df["Ticker"] = name
    return df

# Fetch all tickers into individual DataFrames
df_wti = fetch_and_clean(tickers["WTI"], "WTI")
df_brent = fetch_and_clean(tickers["Brent"], "Brent")
df_nifty50 = fetch_and_clean(tickers["Nifty50"], "Nifty50")
df_nifty100 = fetch_and_clean(tickers["Nifty100"], "Nifty100")
df_nifty200 = fetch_and_clean(tickers["Nifty200"], "Nifty200")
df_nifty500 = fetch_and_clean(tickers["Nifty500"], "Nifty500")

# (Optional) Store in dictionary for easier programmatic use
dfs = {
    "WTI": df_wti,
    "Brent": df_brent,
    "Nifty50": df_nifty50,
    "Nifty100": df_nifty100,
    "Nifty200": df_nifty200,
    "Nifty500": df_nifty500
}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
df_wti.head()  # Display the first few rows of the WTI DataFrame for verification

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2013-01-02,91.779999,93.870003,91.559998,93.120003,93.120003,203865,WTI
1,2013-01-03,92.910004,93.300003,92.489998,92.919998,92.919998,189812,WTI
2,2013-01-04,92.860001,93.209999,91.519997,93.089996,93.089996,210747,WTI
3,2013-01-07,93.209999,93.349998,92.419998,93.190002,93.190002,166292,WTI
4,2013-01-08,93.320000,93.800003,92.669998,93.150002,93.150002,195867,WTI

In [13]:
output_folder = r"C:\Users\Stevi\OneDrive\Documents\Projects\Crude-Oil\Data ingestion"  # replace with your actual folder path
os.makedirs(output_folder, exist_ok=True)  # create the folder if it doesn't exist

for name, df in dfs.items():
    file_path = os.path.join(output_folder, f"{name}.csv")
    df.to_csv(file_path, index=False)