In [1]:
import pandas as pd

In [2]:

# --- Load your datasets ---
# Assume all CSVs have: Date, Open, High, Low, Close
brent = pd.read_csv(r"C:\Users\Stevi\OneDrive\Documents\Projects\Crude-Oil\new\Crude-Oil\new\brent_ohlc.csv", parse_dates=["Date"], index_col="Date")
oman = pd.read_csv(r"C:\Users\Stevi\OneDrive\Documents\Projects\Crude-Oil\new\Crude-Oil\new\oman_ohlc.csv", parse_dates=["Date"], index_col="Date")
dubai = pd.read_csv(r"C:\Users\Stevi\OneDrive\Documents\Projects\Crude-Oil\new\Crude-Oil\new\Dubai.csv", parse_dates=["Date"], index_col="Date")

In [3]:
oman

              Open    High     Low   Close  Adj_Close  Volume
Date
04-01-2016  1.4684  1.4684  1.4684  1.4684        NaN       0
05-01-2016  1.4662  1.4662  1.4661  1.4661        NaN       0
06-01-2016  1.4629  1.4629  1.4627  1.4627        NaN       0
07-01-2016  1.4578  1.4578  1.4578  1.4578        NaN       0
08-01-2016  1.4519  1.4519  1.4518  1.4518        NaN       0
11-01-2016  1.4561  1.4562  1.4561  1.4562        NaN       0
12-01-2016  1.4400  1.4401  1.4400  1.4401        NaN       0
13-01-2016  1.4468  1.4468  1.4468  1.4468        NaN       0
14-01-2016  1.4411  1.4411  1.4410  1.4410        NaN       0
15-01-2016  1.4291  1.4291  1.4291  1.4291        NaN       0
19-01-2016  1.4170  1.4171  1.4170  1.4170        NaN       0
20-01-2016  1.4167  1.4167  1.4167  1.4167        NaN       0
21-01-2016  1.4199  1.4199  1.4196  1.4196        NaN       0
22-01-2016  1.4307  1.4308  1.4307  1.4307        NaN       0
25-01-2016  1.4247  1.4247  1.4245  1.4245        NaN       0

In [4]:
# Rename columns for clarity
brent = brent[["Open", "High", "Low", "Close"]].add_prefix("Brent_")
dubai = dubai[["Open", "High", "Low", "Close"]].add_prefix("Dubai_")

In [5]:
# Merge on Date
df = brent.join([dubai], how="inner")

In [6]:
# --- Compute ICB OHLC (75% Dubai + 25% Brent) ---
df["ICB_Open"]  = (df["Dubai_Open"]  * 0.75) + (df["Brent_Open"]  * 0.25)
df["ICB_High"]  = (df["Dubai_High"]  * 0.75) + (df["Brent_High"]  * 0.25)
df["ICB_Low"]   = (df["Dubai_Low"]   * 0.75) + (df["Brent_Low"]   * 0.25)
df["ICB_Close"] = (df["Dubai_Close"] * 0.75) + (df["Brent_Close"] * 0.25)

# --- Final Master Sheet: only ICB OHLC ---
icb = df[["ICB_Open", "ICB_High", "ICB_Low", "ICB_Close"]]

In [7]:
# Save to CSV
icb.to_csv("Indian_Crude_Basket_OHLC.csv")

print("✅ Master sheet created: Indian_Crude_Basket_OHLC.csv")
print(icb.head())

✅ Master sheet created: Indian_Crude_Basket_OHLC.csv
            ICB_Open  ICB_High  ICB_Low  ICB_Close
Date
04-01-2016   35.4050   35.8025  35.2500    35.3600
06-01-2016   43.6500   43.6500  43.0050    43.0275
07-01-2016   42.9575   43.0100  42.3725    42.7650
08-01-2016   37.6400   37.8725  37.3875    37.5775
11-01-2016   41.8000   41.8550  41.3100    41.3975

In [11]:
# Use already loaded icb and usdinr variables from the notebook

# Make sure the usdinr DataFrame has a single column named 'USDINR'
usdinr_rename = usdinr.rename(columns={"USDINR=X": "USDINR"})

# Merge ICB with USD/INR on the index (Date)
df_icb_inr = icb.join(usdinr_rename, how="inner")

# Convert ICB USD → INR
df_icb_inr["ICB_Open"]  = df_icb_inr["ICB_Open"]  * df_icb_inr["USDINR"]
df_icb_inr["ICB_High"]  = df_icb_inr["ICB_High"]  * df_icb_inr["USDINR"]
df_icb_inr["ICB_Low"]   = df_icb_inr["ICB_Low"]   * df_icb_inr["USDINR"]
df_icb_inr["ICB_Close"] = df_icb_inr["ICB_Close"] * df_icb_inr["USDINR"]

# Save to CSV
df_icb_inr.to_csv("Indian_Crude_Basket_INR_OHLC.csv")

print("✅ ICB successfully converted to INR and saved as Indian_Crude_Basket_INR_OHLC.csv")
print(df_icb_inr.head())

✅ ICB successfully converted to INR and saved as Indian_Crude_Basket_INR_OHLC.csv
               ICB_Open     ICB_High      ICB_Low    ICB_Close     USDINR
Date
2016-04-01  2345.510504  2371.844087  2335.242019  2342.529339  66.248001
2016-06-01  2934.633293  2934.633293  2891.269265  2892.781966  67.231003
2016-07-01  2899.674192  2903.217979  2860.186104  2886.680242  67.500999
2016-08-01  2508.630806  2524.126472  2491.802213  2504.465306  66.648003
2016-11-01  2786.617765  2790.284387  2753.951687  2759.784892  66.665497